name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: run MVN install
      run: mvn install
      

    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: npm install snyk -g
    - run: snyk -v
    - run: snyk auth ${{ secrets.snyk_token }}
    - run: snyk test

    - name: install snyk-to-html 
      run: npm install snyk-to-html -g
    - run: snyk test --json | snyk-to-html -o result.html
      
    - run: $(System.DefaultWorkingDirectory)/results.html
    
    - name: Step 3 - Use the Upload Artifact GitHub Action
      uses: actions/upload-artifact@v2
      with: 
        name: results.html
